/* ================
   General
   ================ */
html {
    margin: 0;
}

/* img {
    height: 30%;
} */

/* ================
   Typography 
   ================ */

/* ================
    Layout 
    ================ */

nav {
    background: #BEEF9E;
}

.img-coffee {
    height: 100%;
}
/* .carousel {
    height: 50%;
} */



/* ==================
Background
=====================*/

.intro {
    background-image: url("images/background-sec1.jpg");
    background-color: #cccccc;
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.section2 {
    background-image: url("images/background-sec2.jpg");
    background-color: #cccccc;

    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;

    object-fit: cover;
}

.contianer {

    margin:0;
    padding: 0;
}

/* ================
Navigation
================ */
