/* ================
   General
   ================ */

:root {
    --light-red: #F3CDBD;
    --red: #BF785E;
    --dark-red: #723A36;
    --blue: #6195A8;
    --green: #726040;
}

/* ================
   Typography 
   ================ */

/* ================
   Navigation
   ================ */

.navbar {
    background: var(--red);
    color: var(--dark-red) !important;
}

.navbar-light .navbar-brand {
    color: var(--dark-red) !important;
}

.navbar-light .navbar-nav .nav-link {
    color: var(--dark-red) !important;
}

/* ================
    Layout Home
    ================ */

#home {
    background-image: url("images/home_background.jpg");
    background-color: #cccccc;
    height: auto;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.carousel {
    /* control size of slidehow */
    width: 70%;
    /* center slideshow */
    margin: auto;

}

/* ================
    Layout Menu
    ================ */

#menu {
    background-image: url("images/menu_background.jpg");
    background-color: #cccccc;
    height: auto;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.menu-drink-food {
    background-color: rgb(114, 96, 64, 0.5);
    color: var(--light-red);
    height: 500px;
}

#text-for-drink-menu {}

.coffee {
    background-image: url("images/coffee.jpg");
    height: 500px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.food {
    background-image: url("images/coffee.jpg");
    height: 500px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

/* ================
    Layout Team
    ================ */

#team {
    background-image: url("images/team_background.jpg");
    background-color: #cccccc;
    height: auto;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.card {
    background-color: var(--green);
}

/* .card-img-top {
    width: 100%;
    height: 15vh;
    object-fit: cover;
}

@include media-breakpoint-up(md) {
    .custom-class {
      display: block;
    }
  } */


/* ================
    Footer 
    ================ */

footer {
    background-color: var(--red);
}